<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <style>
        /*Applying individual margin change for registration page only.*/
        .input-box{
            margin: 20px;
        }
    </style>
</head>
<body>
    <section>
    <div class="login-box">
        <form action="/register" method="post">
            <h2>Register</h2>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon> 
                </span>
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </span>
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
             <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
        <div class="remember-forgot" style="margin:0px 0 10px 30px;">
            <!--<label><input type="checkbox"> Remember me</label>-->
            <!--<a href="#" style="color: white;">Forgot Password</a>-->
        </div>

        <!--<div class="verify" style="display: flex; justify-content: space-between; margin: 10px 0 10px 0">
            <input type="text" name="otp_code" style="margin-left: 30px;">
            <button value="Get OTP" style="margin-right: 30px; padding: 5px; border: none; border-radius: 10px;">Get OTP</button>
        </div>-->

        <input type="submit" style="width: 75%; margin: 0 50px 0 50px; padding: 10px;
                                     background-color: white; border-radius: 20px; 
                                     border: none; font-size: 15px; font-weight: 700;
                                     cursor: pointer;">
        <div class="Register-link" style="margin: 12px 0 0 30px;">
            <p>Already have an account? <a href="/" style="color: white;">Login</a></p>
        </div>
        {% if error %}
        <hr style="width: 80%; margin: auto; margin-top: 12px; margin-bottom: 12px;">
        <p><strong>Error:</strong> {{error}}</p>
        {% endif %}
        </form>
    </section> 
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </div>
    
</body>
</html>